<div class="mat-app-background" [class.dark]="darkThemeEnabled">
    <mat-toolbar color="primary">
        <mat-toolbar-row class="mat-elevation-z4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center">
                            origa.ai Front End Developer Assignment
                        </h1>
                    </div>
                </div>
            </div>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button 
                mat-flat-button
                color="primary"
                class="mx-auto"
                (click)="toggleTheme()"
            >
                Switch App Theme
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <app-dashboard></app-dashboard>
</div>